<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/static/addcourse.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div>

    <form class="siout_but" action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input type="submit" value="Sign Out"/>

    </form>


    <div>
        <a href="/courses">Курсы</a>
    </div>
     <form method="post">
         <input class="field" type="text" name="name" placeholder="Название курса" value="{{course.name}}"/><br>
         <input class="field" type="text" name="direction" placeholder="Направление" value="{{course.direction}}"/><br>
         <input class="field" type="date" name="start_date" placeholder="Дата начала" value="{{course.start_date}}"/><br>
        <input class="field" type="number" name="duration" placeholder="Длительность курса(дней)" value="{{course.duration}}"/><br>
          <input class="field" type="number" name="max_amount_of_stud" placeholder="Максимальное количество студентов" value="{{course.max_amount_of_stud}}"/><br>
          <input class="field" type="text" name="about" placeholder="О курсе" value="{{course.about}}"/><br>
          <input class="field" type="text" name="tag1_id" placeholder="Тэг 1" value="{{course.tag1_id}}"/><br>
         <input class="field" type="text" name="tag2_id" placeholder="Тэг 2" value="{{course.tag2_id}}"/><br>
         <input class="field" type="text" name="tag3_id" placeholder="Тэг 3" value="{{course.tag3_id}}"/><br>
          <input class="field" type="text" name="tag4_id" placeholder="Тэг 4" value="{{course.tag4_id}}"/><br>
          <input class="field" type="text" name="tag5_id" placeholder="Тэг 5" value="{{course.tag5_id}}"/><br>

          <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
          <button class="button1" type="submit">Добавить</button>
      </form>

</div>
</body>
</html>
